{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "purecast-backend",
  "main": "src/index.ts",
  "compatibility_date": "2025-02-14",
  "d1_databases": [
    {
      "binding": "DB_PROD",
      "database_name": "your-database-name",
      "database_id": "your-production-database-id",
      "preview_database_id": "your-preview-database-id"
    }
  ]
}